// Variables
// Colores
$primary-color: #2a9d8f;  // Verde
$secondary-color: #9c8038;  // Amarillo
$dark-grey: #333333;  // Gris oscuro
$light-grey: #f4f4f4;  // Gris claro
$white: #fff;
$text-color: #333; // Gris oscuro para texto
$global-background-color: #f4f4f4; // Gris claro

// Fuentesa
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Poppins', sans-serif;


// Tamaños
$font-size-base: 16px; // Tamaño base
$font-size-lg: 1.25rem; // Grande
$font-size-sm: 0.875rem; // Pequeño

// Breakpoints para diseño responsive
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
