$color-fondo: bisque;
$color-texto: royalblue;
$size-m: 1.25rem;

.hero {
  height: 75vh;
  background-color: $color-fondo;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  color: $color-texto;  
  font-size: $size-m;
}
