// _cards.scss
#featured{
  @include section-header;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  margin: 0 0.5rem;

  .card {
    border: 1px solid $light-grey;
    border-radius: 0.625rem;
    padding: 1rem;
    background-color: $white;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    
    img {
      width: 100%;
      border-radius: 0.5rem;
    }
    
    h3 {
      font-size: 1.5rem;
      margin-top: 0.625rem;
    }
    
    p {
      margin: 0.5rem 0;
    }
    
    a {
      color: $primary-color;
      text-decoration: none;
      font-weight: bold;
      margin-top: 0.625rem;
      display: inline-block;
      transition: color 0.3s;
      
      &:hover {
        color: $secondary-color;
      }
    }
    
    &:hover {
      transform: translateY(-0.3125rem);
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    }
  }
}

@media (max-width: 48rem) {
  .cards {
    grid-template-columns: 1fr;
  }
}
